<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script language="JavaScript" src="js/index.js"></script>
    <script language="JavaScript" src="js/permission.js"></script>
</head>

<body th:inline="javascript">

    <form th:action="@{/record.do}" id="sub" method="post" style="float:left;width:60%;margin-left:20%;">
        <select name="branch" id="branch">
            <option value="fruit" th:selected="${session.branch=='fruit'}">水果</option>
            <option value="food" th:selected="${session.branch=='food'}">食品</option>
              <option value="other" th:selected="${session.branch=='other'}">其它</option>
        </select>
        <select name="datetype">
            <option value="month" th:selected="${session.datetype=='month'}">按月</option>
            <option value="day" th:selected="${session.datetype=='day'}">按日</option>
            <option value="year" th:selected="${session.datetype=='year'}">按年</option>
            <option value="total" th:selected="${session.datetype=='total'}">全部</option>
        </select>


        <input name="date" id="date" type="date" th:value="${session.date==null?'2021-01-01':session.date}">


        <input type="hidden" id="op" name="oper" value="search" />
        关键字筛选查询：<input type="text" name="keyword" th:value="${session.keyword}" />
        <input type="submit" value="查询" class="btn" />
    </form>

    <div id="div_container">
        <div id="div_record_list">
            <p class="center f30">销售管理系统</p>
            <div style="border:0px solid red;width:60%;margin-left:20%;text-align:right;">
                <a th:href="@{/add.html}" style="border:1px solid blue;margin-bottom:4px;">新增记录</a>
            </div>
            <table id="tbl_record">
                <tr>
                    <th class="w20">编号</th>
                    <th class="w20">名称</th>
                    <th class="w20">单价</th>
                    <th class="w20">总量</th>
                    <th class="w20">总计(￥）</th>
                    <th class="w20">时间</th>
                    <th class="w20">售货员</th>
                </tr>
                <tr th:if="${#lists.isEmpty(session.RecordList)}">
                    <td colspan="4">销售记录为空！</td>
                </tr>
                <tr th:unless="${#lists.isEmpty(session.RecordList)}" th:each="record : ${session.RecordList}">
                    <!-- <td><a th:text="${record.fname}" th:href="@{'/edit.do?fid='+${record.fid}}">苹果</a></td> -->
                    <td th:text="${record.id}"></td>

                    <td><a th:text="${record.name}"></a></td>
                    <td th:text="${record.price}"></td>
                    <td th:text="${record.count}"></td>
                    <td th:text="${record.total}"></td>
                    <td th:text="${record.time}"></td>
                    <td th:text="${record.seller}"></td>

                    <!-- <td><img src="imgs/del.jpg" class="delImg" th:onclick="'delrecord('+${record.fid}+')'"/></td> -->
                    <!-- <td><img src="imgs/del.jpg" class="delImg" th:onclick="|delrecord(${record.id})|"/></td> -->
                </tr>
            </table>
            <div style="width:60%;margin-left:20%;border:0px solid red;padding-top:4px;" class="center">
                <input type="button" value="首  页" class="btn" th:onclick="|page(1)|"
                    th:disabled="${session.pageNo==1}" />
                <input type="button" value="上一页" class="btn" th:onclick="|page(${session.pageNo-1})|"
                    th:disabled="${session.pageNo==1}" />
                <input type="button" value="下一页" class="btn" th:onclick="|page(${session.pageNo+1})|"
                    th:disabled="${session.pageNo==session.pageCount}" />
                <input type="button" value="尾  页" class="btn" th:onclick="|page(${session.pageCount})|"
                    th:disabled="${session.pageNo==session.pageCount}" />
                <p>[[${session.pageNo}]]/[[${session.pageCount}]]</p>
                <a th:href="@{/index.html}" style="border:0px solid blue;margin-bottom:4px;">菜 单</a>
            </div>
        </div>
    </div>
</body>

</html>